<% include ./partial/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80"
        class="fixed-height d-block w-100"
        alt="First slide"
        style="max-width:100%;height:100%;"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Learn</h5>
        <p>An investment in knowledge always pays the best interest.</p>
      </div>
    </div>
   


  </div>
</div>
<% include ./partial/footer %>
